<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Puppet Tray</title>
    <script src='https://npmcdn.com/vue/dist/vue.js'></script>
    <link rel='stylesheet' href='data/css/skeleton.css'>
    <style>
      hr {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      h4 {
        text-align: center;
      }
      .error {
        color: red;
      }
      .centerText {
        text-align: center;
        word-wrap: break-word;
      }
      #statusIcon {
        width: 1em;
        padding-right: 1em;
      }
      .fullWidth {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id='app' class='container'>
      <h4><img v-bind:src="summary.icon" alt="Puppet Status" id="statusIcon">{{computer}}</h4>
      <hr>

      <!-- Success -->
      <div class='container' v-if="!summary.error">
        <h4 class='centerText'>Provisioning is {{summary.status}}</h4>
        <p>Last ran: {{summary.lastRun}}</p>

        <div class='row'>
          <div class="six columns">
            <button class='fullWidth'>CHANGED ({{summary.resources['changed']}})</button>
          </div>
          <div class="six columns">
            <button class='fullWidth'>FAILED ({{summary.resources['failed']}})</button>
          </div>
        </div>

        <div class='row'>
          <div class="six columns">
            <button class='fullWidth'>NOT SYNCED ({{summary.resources['out_of_sync']}})</button>
          </div>
          <div class="six columns">
            <button class='fullWidth'>SKIPPED ({{summary.resources['skipped']}})</button>
          </div>
        </div>

        <div class='row'>
          <div class="six columns">
            <button class='fullWidth'>SCHEDULED ({{summary.resources['scheduled']}})</button>
          </div>
          <div class="six columns">
            <button class='fullWidth'>TOTAL ({{summary.resources['total']}})</button>
          </div>
        </div>
      </div>

      <!-- File Not Found -->
      <div class='container' v-if="summary.error && summary.fileNotFound">
        <p class='centerText'><b>Error</b>: {{summary.error}}</p>
        <div class='u-max-full-width centerText'>
          <img src="icons/empty-box.png" alt="File not found">
        </div>
      </div>

      <!-- Error -->
      <div class='container' v-if="summary.error && !summary.fileNotFound">
        <p class='centerText'><b>Error</b>: {{summary.error}}</p>
        <div class='u-max-full-width centerText'>
          <img src="icons/error.png" alt="Error icon">
        </div>
      </div>
    </div>
    <script>
      const {remote} = require('electron')
      let summary = remote.getGlobal('summary')
      let dashboard = new Vue({
        el: '#app',
        data: {
          devMode: false,
          summary: summary,
          refreshRate: 6000
        },
        computed: {
          computer: function () {
            return (this.devMode) ? 'devbox' : process.env.COMPUTERNAME
          }
        }
      })

      // Refresh summary
      var refreshSummary = setInterval(() => {
        dashboard.summary = remote.getGlobal('summary')
        console.log('Called get summary', dashboard.summary)
      }, dashboard.refreshRate)

      console.log('Remote info:', summary)
    </script>
  </body>
</html>
